<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxf.mapper.AuthorMapper">


    <select id="findAuthorByArticleId" parameterType="Long" resultType="com.zxf.pojo.Author">
        select
            id,create_date,account,password,nickname,avatar,admin,deleted
        from
            `ms_author`
        where
                id =
                (
                    select author_id
                    from `ms_article`
                    where id = #{articleId}
                )
    </select>

    <select id="findAuthorByCommentId" parameterType="Long" resultType="com.zxf.pojo.Author">
        select
            id,create_date,account,password,nickname,avatar,admin,deleted
        from
            `ms_author`
        where
                id =
                (
                    select author_id
                    from `ms_comment`
                    where id = #{commentId}
                )
    </select>
</mapper>